<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container">
        <h2>Informatics</h2>
        <p>Remote Log LibraryUsers list</p>            
        <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">IsArchived</th>
            <th scope="col">Library</th>
            <th scope="col">DisplayName</th>
            <th scope="col">Groups</th>
            <th scope="col">UserName</th>
            
                      
          </tr>
        </thead>
        <tbody>
        <%libraryusersList.forEach(libraryusers => {%>
            <tr>
                <th scope="row"> <%= libraryusers._id %></th>
                <td><%= libraryusers.Email %></td>
                <td><%= libraryusers.IsArchived %></td>
                <td><%= libraryusers.Library %></td>
                <td><%= libraryusers.DisplayName %></td>
                <td><%= libraryusers.Groups %></td>
                <td><%= libraryusers.UserName %></td>
             
            </tr>
        <%})%>
        </tbody>
      </table>
      </div>
</body>
</html>